.body {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 50px;
}

.image {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.content {
  text-align: left;
  margin-top: 10px;
  /* width: 85%; */
  font-family: MyWebFont;
}

@media screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .image {
    width: 100%;
  }
}


