.body {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  /* height: 50vh; */
  padding-top: 10%;
  padding-bottom: 10%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.content {
  text-align: left;
  margin-top: 10px;
  /* width: 85%; */
  font-family: MyWebFont;
}

.textDiv {
  width: 59.25%;
}

.imageDiv {
  width: 39.25%;
}

@media screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .textDiv {
    width: 100%;
    order: 1;
  }

  .imageDiv {
    width: 100%;
    order: 2;
  }
}
