.link,
.link_active {
  color: white !important;
  font-size: 16pt !important;
  /* font-weight: bold !important; */
  font-family: MyWebFont;
  text-transform: uppercase !important;
  padding: 10px 20px !important;
}

.link_active {
  color: orange !important;
}

@media screen and (max-width: 768px) {
  .link,
  .link_active {
    font-size: 10pt !important;
  }
}
