.title {
  font-size: 50pt;
  margin-bottom: 1rem;
  font-family: MyWebFont;
  letter-spacing: 5px;
  color: white;
}

.subtitle {
  font-size: 16pt;
  margin-bottom: 1rem;
  font-family: MyWebFont;
  letter-spacing: 5px;
  color: white;
  margin-top: 40px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
