.title {
  font-size: 70pt;
  margin-bottom: 1rem;
  font-family: MyWebFont;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 0px orange;
}

.subtitle {
  font-size: 16pt;
  margin-bottom: 1rem;
  font-family: MyWebFont;
  letter-spacing: 5px;
  color: white;
  margin-top: 40px;
  width: 100%;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 16pt;
  margin-bottom: 1rem;
  font-family: MyWebFont;
  letter-spacing: 5px;
  color: white;
  max-width: 200px;
  margin-top: 40px;
  border: 3px groove white;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: orange;
  transition: all 0.3s linear;
}

.icon {
  margin-right: 10px;
}


.row{
  width: 100%;
  
  margin-top: 40px;
  border: 1px solid red;
  
}