.title {
    font-size: 70pt;
    margin-bottom: 1rem;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
}

.subtitle {
    font-size: 20pt;
    margin-bottom: 1rem;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: "white",
}


.icon {
    font-size: 50pt;
    margin-bottom: 1rem;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
}

.icon:hover {
    font-size: 55pt;
}