

.subtitle {
    font-size: 14pt;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-family: MyWebFont;
    color: white;
    margin-top: 30px;
    line-height: 35px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: "white",
}


.icon {
    font-size: 50pt;
    margin-bottom: 1rem;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
}

.icon:hover {
    margin-bottom: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    color:orange;
}